* {
	box-sizing: border-box;
}

body {
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
    background-color:#ffffff ;
}
ul {
  margin: 0;
  padding: 0;
  color: #2f003e;

  list-style: none;
  font-weight: 530;

  
}
ul li a{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #2f003e;
    font-weight: 530;

  }


h2,
h3,
a {
	color: #dac9df;
}

a {
	text-decoration: none;
}




.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
    
	color: #2f003e;
	font-size: .99em;
  font-weight: 530;
}

.main-nav a:hover {
	color: #dbdbdb;
}



.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-top: 12px;
	padding-bottom: 15px;
    background: rgb(47,0,62);
    background: linear-gradient(90deg, rgb(50, 2, 66) 0%, rgb(185,137,199,1) 40%, rgb(234, 233, 235) 100%);
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    bottom:0;/*Para que se coloque hasta abajo*/
    background: rgb(47,0,62);
    background: linear-gradient(90deg, rgba(47,0,62,1) 0%, rgba(185,137,199,1) 50%, rgba(47,0,62,1) 100%);
    padding: 15px 0;
    margin-top: 30px;
    text-align: center; /* Alineación del texto en el centro horizontalmente */
    width:100%;/*largo del fondo*/
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.footer-content p {
    font-size: 14px;   
    
    margin: 0; /* Elimina el margen predeterminado */
}
.div-body{
    background-color: beige;
}
.footer-p{
    color:#2f003e
}
h1 span {

    font-size: 12px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/*Para test vocacional*/
.container {
    font-family: Arial, sans-serif;
    display: block;
    text-align: center;
    justify-content: center;
    margin: 2em 0 1em;
}
p {
    color: #484848;
  font-weight: 700;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  transition: color 0.3s ease-in-out;
  }
  
  /* Estilos para los inputs */
  input {
    margin: 12px 0px 0px;
    padding: 5px;
    line-height: 50px;
    border: 1px solid #d2d2d2;
    border-radius: 30px;
    padding: 0 25px;
    color: #484848;
    font-weight: 700;
    display: block;
  }
  .inline-field {
    width: 49%!important;
    display: inline-block;
    border-radius: 40px 8px 8px 40px!important;
    
}
.inline-field2 {
    width: 49%!important;
    display: inline-block;
    border-radius: 8px 40px 40px 8px!important;
    
}
.genero {
    display: flex; /* Establece el contenedor como un flexbox */
    text-align: center;
    justify-content: center;
    margin: 2em 0 1em;
  }
  
  .opcion-genero {
    margin-right: 10px; /* Añade espacio entre cada opción */
  }
  /* Estilos para las imágenes con opacidad */
  .opcion-genero img {
    opacity: 0.5; /* Inicialmente, estableceremos la opacidad */
    transition: opacity 0.3s ease; /* Agregamos transición para suavizar el cambio */
    max-width: 50px; /* Cambia el tamaño máximo de las imágenes */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }
  
  .opcion-genero.selected img {
    opacity: 1; /* Cuando está seleccionado, mostrar la imagen a todo color */
  }
 /*______estilos para el echo en resultado del test_______*/
  /* Estilos para el mensaje de error */
  .mensaje-error {
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    color: red; /* Por ejemplo, color de texto rojo */
}

/* Estilos para el mensaje de éxito */
.mensaje-exito {
    text-align: center;
    font-size: 24px;
    font-family: Arial, 'Times New Roman', Times, serif;
    margin-top: 20px;
    color: black; /* Por ejemplo, color de texto verde */
}
.contenedor-con-imagen {
    margin: 55px;
    display: flex;
    width: 93%; /* Ajusta el ancho según sea necesario */
    height: 800px; /* Ajusta la altura según sea necesario */
    background-image: url('../images/fondo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mensaje {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: white; /* Color del texto */
    /* Otros estilos para el mensaje */
}

/* Estilos para el contenedor */
main {
    flex: 1; /* Esto permite que el contenedor ocupe el espacio restante en el medio */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenedor */
    align-items: center; /* Centra verticalmente el contenedor */
}

/* Estilos para el cuerpo de la página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
/*__________Consejos___________*/
body {
    
    text-align: center;
}
#contenedor {
    background: linear-gradient(rgba(47, 0, 62, 1) 0%, rgba(185, 137, 199, 1) 50%, rgba(47, 0, 62, 1));
    margin: 0 auto;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: rgba(47, 0, 62, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.titulo-foro{
    background-color: rgba(47, 0, 62, 1);
}

/*/////////////// CSS Para Nostros///////////////*/
.firstsection {
	background-color: green;
	height: 400px;
}

.secondsection {
	background-color: blue;
	height: 400px;
}

.box-main {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	max-width: 80%;
	margin: auto;
	height: 80%;
}

.firsthalf {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.secondhalf {
	width: 30%;
}

.secondhalf img {
	width: 70%;
	border: 4px solid white;
	border-radius: 150px;
	display: block;
	margin: auto;
}

.text-big {
	font-family: lovelo;
	font-weight: bold;
	font-size: 35px;
}

.text-small {
	font-family: lovelo;
	font-size: 18px;
}

.btn {
	padding: 8px 20px;
	margin: 7px 0;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	cursor: pointer;
}

.btn-sm {
	padding: 6px 10px;
	vertical-align: middle;
}

.section {
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 90%;
	margin: auto;
}

.section-Left {
	flex-direction: row-reverse;
}




.center {
	text-align: center;
}

/*Este estilo es para imagenes*/

  
  .contenedor-imagen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contenedor-imagen img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }

/***************HOME***********/
section {
    padding: 2em;
    text-align: center;
  }

  section h2 {
    color: #333;
  }

  section p {
    font-size: 1.1em;
    line-height: 1.6;
  }

  .features {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
  }
  .p-format{
    margin: 2em 9em;

  }

  .p-format2{
    margin: 1em 6em;
    font-size: 18px;

  }
  
  

  .feature {
    flex: 1;
    padding: 1em;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 4em;
   font-size: 8px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
  }

  .text-block {
    flex: 1;
    text-align: left;
  }

  .image-block {
    flex: 1;
    text-align: center;
  }

  .image-block img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  .image-block {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }


  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s;
    width: 400px;
    height: 350px;
  }

  .image-container:hover {
    transform: scale(1.1);
  }

  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
  }

  .text {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.3s;
    font-family:Poppins-regular ;
  }

  .image-container:hover .text {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .pIndex{
    font-size: 15px;
    opacity: 80%;

  }
  .hIndex{
    font-size: 18px;

    color: rgb(82, 72, 85);
  }
  /************FINAL HOME**********/

  /***********NOSOTROS*************/
  #nosotrosU{
    color: rgb(74, 25, 25)404;
    font-family: Poppins-Bold;
  }
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 2em;
  }
  .bg-image-full {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
  }
  .bg-image-full {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
  }
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 2em;  }
  