.h1-resenha{
    color: rgb(74, 25, 58);
    size: 15px;
    font-family: Poppins-Bold;
    text-align: center;
    justify-content: center;
    margin: 2em 0 1em;

}
.h1-evaluacion{
    color: rgb(74, 25, 58);
    size: 15px;
    font-family: Poppins-Bold;
    text-align: center;
    justify-content: center;
    margin: 2em 0 1em;

}

.contenedor-resenha{
	width:50%;
	margin:auto;
	background-color:rgba(185, 137, 199, 1);
	padding:5px;
	border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    size: 16px;
    font-family: Poppins-Bold;
    font-weight: 530;
    
}
.contenedor-evaluacion{
	width:50%;
	margin:auto;
	background-color:rgba(185, 137, 199, 1);
	padding:5px;
	border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    size: 16px;
    font-family: Poppins-Bold;
    font-weight: 530;

}

form{
    width: 50%;
    margin: auto;
    
}

form label {
    display: block;
    margin: 10px 0;
    
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
}

.contenedor-resenha label {
    display: block;
    margin: 10px 0;
    
    
}

.contenedor-resenha input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    max-width: 100%;

}

.contenedor-resenha input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;


    
}

.contenedor-resenha input[type="submit"]:hover {
    background-color: #555;
}

.ev_text{
    size: 15px;

}